<template>
  <v-app id="indexApp">
    <AppBar />
    <ScrollToTop />
    <v-main>
      <div>
        <Headline />

        <Projects />

        <Skills />
      </div>
    </v-main>
    <Footer />
  </v-app>
</template>

<script>

import Icon from '@iconify/vue'
import latexIcon from '@iconify-icons/file-icons/latex'
import pytorchIcon from '@iconify-icons/simple-icons/pytorch'
import pandasIcon from '@iconify-icons/simple-icons/pandas'
import numpyIcon from '@iconify-icons/file-icons/numpy'
import jenkinsIcon from '@iconify-icons/file-icons/jenkins'

// Assign string names to icons
Icon.addIcon('iconify-latex', latexIcon)
Icon.addIcon('iconify-pytorch', pytorchIcon)
Icon.addIcon('iconify-pandas', pandasIcon)
Icon.addIcon('iconify-numpy', numpyIcon)
Icon.addIcon('iconify-jenkins', jenkinsIcon)

export default {
  name: 'App',
  components: {
    AppBar: () => import('@/core/components/AppBar'),
    Footer: () => import('@/core/components/Footer'),
    ScrollToTop: () => import('@/core/components/ScrollToTop'),
    Headline: () => import('@/pages/landing/components/Headline'),
    Projects: () => import('@/pages/landing/components/Projects'),
    Skills: () => import('@/pages/landing/components/Skills')
  },
  data: () => ({
    source: 'https://localhost:8080/'
  }),
  created () {
    this.$vuetify.theme.dark = false
  },
  mounted () {
    /* istanbul ignore next */
    if ('scrollRestoration' in history) {
      history.scrollRestoration = 'manual'
    }
  },
  methods: {
  }
}
</script>

<style scoped>

</style>
