<template>
  <v-app
    id="legalApp"
  >
    <AppBar />

    <v-main class="mt-16">
      <Copy />
    </v-main>

    <Footer />
  </v-app>
</template>

<script>

export default {
  name: 'App',
  components: {
    AppBar: () => import('@/core/components/AppBar'),
    Footer: () => import('@/core/components/Footer'),
    Copy: () => import('@/pages/legal/components/CopyrightStatement')
  },
  data: () => ({
    source: 'https://localhost:8080/'
  }),
  created () {
  }
}
</script>

<style scoped>

</style>
