<template>
  <div class="my-2">
    <v-card>
      <v-card-title class="justify-center">
        Skill Match Score:
        <span
          v-if="delta===null"
          class="px-4"
        >Please Set at Least One Desired Skill Level Above.
        </span>
        <span
          v-else
        >
          <span
            v-katex="'s = '+ parseFloat(score * 100)
              .toLocaleString('en-US', { maximumFractionDigits: 0 }) +'\\%'"
            class="px-4"
          />
        </span>
      </v-card-title>
      <v-card-text
        class="text-justify"
        :style="{ 'color': $vuetify.theme.currentTheme.text, 'background-color': 'transparent' }"
      >
        The match score is a non-negative value expressing congruence between proficiency levels I possess and minimum
        proficiencies you prefer for a job considered. A score of 100% indicates total congruence, all desired skills
        are fully matched. A score below 100% means I'll get the chance to perform a steep learning curve after entering
        the job, above 100% means I might be able to start on advanced assignments right-away.<br>
        The score is computed as the weighted average difference <span v-katex="'\\Delta'" /> between
        provided (<span v-katex="'p_i'" />)
        and desired (<span v-katex="'d_i'" />) skill levels, where the weights are the desired levels assuming
        more advanced skills have higher relevance:
        <div
          v-katex:display="'\\Delta=\\frac{1}{\\sum_j{d_j}} \\sum_i{d_i\\times (p_i - d_i)}.'"
          class="text-center"
        />
        To get the final score <span v-katex="'s'" />, <span v-katex="'\\Delta'" /> is then shifted and
        normalized s. t. zero difference is expressed as 100%. Unselected skills are not considered.
      </v-card-text>
    </v-card>
  </div>
</template>

<script>

/**
 * The Fitness Score component computes a score expressing overlap between two series of values (given and
 * desired skill levels). It adds a v-card with the score and an extensive explanation of the very.
 */
export default {
  name: 'FitnessScore',
  props: {
    maxScore: { type: Number, required: true },
    provisions: { type: Array, default: () => [] },
    desires: { type: Array, default: () => [] }
  },
  computed: {
    /**
     * Computes weighted average difference between given and desired skill levels.
     *
     * @returns {string|number}
     */
    delta: function () {
      if (this.desires.length !== this.provisions.length) {
        return 'ERROR in ratings delta computation: unequal length arrays.'
      }
      let delta = 0
      for (let ix = 0; ix < this.desires.length; ix++) {
        delta += this.desires[ix] * (this.provisions[ix] - this.desires[ix])
      }
      const weightsSum = this.desires.reduce((n, m) => n + m, 0)
      if (weightsSum > 0) {
        delta /= weightsSum
      } else {
        delta = null
      }
      return delta
    },
    score: function () {
      return this.delta === null ? null : 1.0 + this.delta / this.maxScore
    }
  }
}
</script>

<style scoped>

</style>
