<template>
  <section
    id="headline"
  >
    <v-container
      id="containerHeadline"
      fluid
      class="pa-0 mx-0 fill-height"
    >
      <v-parallax
        :src="$vuetify.breakpoint.mobile ? heroImgXs : heroImg"
        :class="$vuetify.theme.dark ? 'dark' : ''"
        :style="{ height: 'max(100vh,'+mobileBreakpointHeight1+'px)'}"
      >
        <v-row
          no-gutters
          class="mt-4 mt-sm-16"
        >
          <v-col
            class="mt-10 mt-sm-16"
          >
            <v-img
              id="heroBanner"
              :src="require('@/assets/hero_banner.png')"
              class="crop"
              contain
              position="center bottom"
              align-self="end"
            >
              <v-row
                align="center"
                justify="center"
                class="white--text text-center mx-2 mx-md-16 px-md-16"
                no-gutters
              >
                <v-col
                  class="text--white text-center mt-md-2"
                  cols="12"
                  md="6"
                  tag="h1"
                >
                  <span
                    class="font-weight-light"
                    :class="textLineSmSize"
                  >
                    Hi, I am Gregor,
                  </span>
                  <br>
                  <span
                    class="font-weight-black"
                    :class="textLineLgSize"
                  >
                    DATA SCIENTIST, PHYSICIST.
                  </span>
                </v-col>
                <v-col
                  class="white--text text-end"
                  cols="12"
                  md="6"
                  tag="h1"
                >
                  <span>
                    <v-img
                      :src="require('@/assets/photo.png')"
                      :max-height="photoMaxHeight"
                      contain
                      class="mb-2"
                    />
                  </span>
                </v-col>
              </v-row>
            </v-img>
          </v-col>
        </v-row>
        <v-row
          v-if="showBtn"
          align-self="end"
          class="white--text mx-auto mb-4 d-block"
          justify="center"
          no-gutters
        >
          <v-col>
            <v-btn
              class="align-self-end"
              :style="{ 'background-color': `${rgbaFromHex($vuetify.theme.currentTheme.objectBg, 0.5)} !important` }"
              fab
              outlined
              @click="$vuetify.goTo('#projects')"
            >
              <v-icon>mdi-chevron-double-down</v-icon>
            </v-btn>
          </v-col>
        </v-row>
      </v-parallax>
    </v-container>
  </section>
</template>

<script>

import { hexToRgba } from '@/core/utils.js'

export default {
  name: 'Headline',
  data: function () {
    return {
      heroImg: require('@/assets/hermant.jpg'),
      heroImgXs: require('@/assets/hermant_xs.jpg'),
      mobileBreakpointHeight1: 750,
      mobileBreakpointHeight2: 600,
      showBtn: false,
      photoMaxHeight: 0
    }
  },
  computed: {
    textLineSmSize: function () {
      if (this.$vuetify.breakpoint.mdAndUp) {
        return 'display-2'
      } else if (this.$vuetify.breakpoint.xs) {
        return 'headline'
      } else {
        return 'display-1'
      }
    },
    textLineLgSize: function () {
      if (this.$vuetify.breakpoint.mdAndUp) {
        return 'display-3'
      } else if (this.$vuetify.breakpoint.xs) {
        return 'display-1'
      } else {
        return 'display-2'
      }
    }

  },
  created () {
    this.onResize()
  },
  mounted () {
    this.$nextTick(() => {
      window.addEventListener('resize', this.onResize)
    })
  },
  beforeDestroy:
  /* istanbul ignore next */
  function () {
    window.removeEventListener('resize', this.onResize)
  },
  methods: {
    rgbaFromHex: hexToRgba,
    onResize: function () {
      const height = window.innerHeight - this.$vuetify.application.top
      this.showBtn = height > this.mobileBreakpointHeight2
      this.photoMaxHeight = height > this.mobileBreakpointHeight1 ? 600 : 400
    }
  }
}

</script>

<style>
#containerHeadline .v-parallax__content {
  padding-left: 0;
  padding-right: 0;
}

#containerHeadline .v-parallax__image-container>.v-parallax__image {
  height: 200vh;
}
#containerHeadline .dark>.v-parallax__image-container>.v-parallax__image {
  filter: grayscale(100%) brightness(70%);
}

</style>
