<template>
  <section
    id="projects"
    :style="{ 'background-color': this.$vuetify.theme.currentTheme.sectionBg }"
  >
    <v-container>
      <div class="py-6" />
      <v-row no-gutters>
        <v-col
          class="text-center pa-5"
          cols="12"
        >
          <h2 class="display-2 font-weight-bold mb-3">
            Selected Projects
          </h2>

          <v-responsive
            class="mx-auto mb-12"
            width="56"
          >
            <v-divider class="mb-1" />
            <v-divider />
          </v-responsive>

          <v-container class="pa-2">
            <v-row>
              <v-col
                v-for="(project, pix) in projects"
                :key="pix"
                cols="12"
                :md="cardColSpanMd"
              >
                <v-lazy
                  v-model="isActive[pix]"
                  :options="{
                    threshold: lazyLoadThreshold
                  }"
                  min-height="200"
                  transition="fade-transition"
                >
                  <v-card
                    class="text-left py-12 px-4"
                    color="objectBg"
                  >
                    <v-list-item three-line>
                      <v-list-item-content>
                        <div class="overline mb-4">
                          {{ project.overline }}
                        </div>
                        <v-list-item-title
                          class="headline wrap-text mb-1"
                          style="white-space: normal"
                        >
                          {{ project.title }}
                        </v-list-item-title>
                        <v-list-item-subtitle class="wrap-text">
                          {{ project.text }}
                        </v-list-item-subtitle>
                      </v-list-item-content>

                      <v-list-item-avatar
                        tile
                        size="200"
                        class="d-none d-md-flex rounded"
                        :color="$vuetify.theme.dark ? project.bgDark : 'transparent'"
                      >
                        <v-img
                          :src="project.img"
                          max-height="200"
                          contain
                          class="rounded"
                          alt="Project Img"
                        />
                      </v-list-item-avatar>
                    </v-list-item>

                    <v-card-actions>
                      <v-row>
                        <v-col
                          v-for="(button, bix) in project.buttons"
                          :key="bix"
                          cols="auto"
                        >
                          <v-hover v-slot:default="{ hover }">
                            <v-btn
                              :href="button.link"
                              target="_blank"
                              light
                              small
                              :class="{ 'on-hover': hover }"
                            >
                              {{ button.text }}
                            </v-btn>
                          </v-hover>
                        </v-col>
                      </v-row>
                    </v-card-actions>
                  </v-card>
                </v-lazy>
              </v-col>
            </v-row>
          </v-container>
        </v-col>
      </v-row>
    </v-container>
  </section>
</template>

<script>

import config from '@/core/mixins/config'

export default {
  name: 'Projects',
  mixins: [config],
  data: function () {
    return {
      projects: [
        {
          img: require('@/assets/poc_knee.png'),
          bgDark: 'transparent',
          overline: 'Computer Vision',
          title: 'AI in Practice: Proof of Concept',
          text: 'Proof of Concept proving viability of DL with everyday practice data of a large German radiology' +
            ' practice. One of the largest success factors for AI performance is data availability, ' +
            'however, utility is uncertain when the data is not carefully groomed as it is in research.' +
            ' As most data collectors (e.g., radiology practices) have not ' +
            'and possibly will not tailor their collection practices to the need of DL engineering,' +
            ' tapping into not specifically DL-purposed data holds huge potential. Since for this, aside data privacy ' +
            'requirements, sufficient technical usability is required, ' +
            'we put everyday MRI data collected within the last 10 years to the test by transforming,' +
            ' low-costly annotating, and feeding it to a DL classifier.',
          buttons: [
            { text: 'Download Abstract', link: './abstract_poc.pdf' }
          ]
        },
        {
          img: require('@/assets/regrcnn.png'),
          bgDark: 'white',
          overline: 'Computer Vision',
          title: 'Reg R-CNN: Detection with Noisy Labels',
          text: 'Publication on tweaking a deep-learning object detection network' +
              ' to handle noisy cancer grade labels on CT images. Unlike in natural images, the appearance of ' +
              'tumor tissue in the medical image links to a malignancy grade that lies on a continuous ordinal scale.' +
              ' While classification models discard this ordinal relation by discretizing the' +
              ' scale to an unordered bag of categories, regression models preserve it.' +
              ' This advantage becomes all the more important in the setting of label confusions on ambiguous data sets, ' +
              'which is the usual case with medical images. To this end, we propose Reg R-CNN, which replaces the ' +
              'second-stage classification model of a current object detector with a regression model.',
          buttons: [
            { text: 'Paper on arxiv', link: 'https://arxiv.org/pdf/1907.12915.pdf' },
            { text: 'Paper on Springer', link: 'https://link.springer.com/chapter/10.1007%2F978-3-030-32689-0_4' },
            { text: 'Python Framework', link: 'https://github.com/MIC-DKFZ/RegRCNN' }
          ]
        },
        {
          img: require('@/assets/prostate.png'),
          bgDark: 'transparent',
          overline: 'Computer Vision',
          title: 'Prostate and Lung Cancer Object Detection',
          text: "Master's thesis with the German Cancer Research Center (DKFZ). Comparing segmentation-based to " +
              'end-to-end-learned object detection on prostate MRIs and handling noisy labels on Lung CTs ' +
              '(Reg R-CNN). Segmentation-based approach clustered U-Net predictions via (optimization-free) ' +
              'connected-component analysis. End-to-end-learning networks: Faster R-CNN, Mask R-CNN, RetinaNet, Retina U-Net.' +
              ' Noisy-label handling compared Mask R-CNN with classification head vs. regression head.' +
              ' Implemented in python with pytorch.',
          buttons: [
            { text: 'Download Thesis', link: './master_thesis.pdf' }
          ]
        },
        {
          img: require('@/assets/NFS_setup.png'),
          bgDark: 'transparent',
          overline: 'Theoretical Quantum Dynamics',
          title: 'Manipulating resonantly scattered flying qubits',
          text: 'Publication on manipulating the response of resonantly scattered x-ray photons. Within the aim of ' +
              'employing x-ray photons as flying qubits, one investigated mechanism is (temporary) storage of the photons' +
              ' with the help of suitable transitions in iron-57 nuclei. By periodically applying this mechanism, we ' +
              ' show that we can generate and control equidistant frequency-comb-like, narrow sidebands of the resonantly ' +
              'scattered nuclear response. We also present an analytical approach to characterize the comb-like spectrum.',
          buttons: [
            { text: 'Paper on arxiv', link: 'https://arxiv.org/pdf/1711.08931.pdf' },
            { text: 'Paper on APS', link: 'https://journals.aps.org/pra/abstract/10.1103/PhysRevA.97.063858' }
          ]
        }
      ]
    }
  },
  computed: {
    cardColSpanMd: function () {
      return this.projects.length > 2 ? 6 : 12
    }
  },
  created () {
    this.isActive = this.projects.map(obj => false)
  }
}
</script>

<style scoped>
.wrap-text {
  -webkit-line-clamp: unset !important;
}
.v-btn.on-hover {
  background-color: var(--v-accent-base) !important;
  color: white !important;
}
</style>
