<template>
  <section
    id="skills"
    :style="{ 'background-color': sectionBg }"
    class="darken-4"
  >
    <v-container class="text-center">
      <div class="py-6" />
      <h2 class="display-2 font-weight-bold mb-3">
        Skill Metrics
      </h2>
      <v-responsive
        class="mx-auto mb-12"
        width="56"
      >
        <v-divider class="mb-1" />
        <v-divider />
      </v-responsive>
      <v-lazy
        v-model="isActive"
        :options="{
          threshold: 0.001
        }"
        min-height="0"
        transition="fade-transition"
      >
        <v-row
          no-gutters
          justify="center"
        >
          <v-col
            class="text-center py-5"
            cols="12"
            md="6"
          >
            <Ratings />
            <Score
              :max-score="ratingsData.maxRating"
              :provisions="skillLevels.haves"
              :desires="skillLevels.wants"
            />
          </v-col>
          <v-col
            class="text-center"
            cols="12"
            md="6"
            align-self="center"
          >
            <SpiderPlot
              :is-active="isActive"
              :chart-data="chartData"
            />
          </v-col>
        </v-row>
      </v-lazy>
      <v-row
        v-if="!isActive"
        no-gutters
        justify="center"
      >
        <v-col
          class="text-center py-5"
          cols="12"
          md="6"
        >
          <v-skeleton-loader
            class="mx-md-2"
            max-height="300"
            type="table"
          />
        </v-col>
        <v-col
          class="text-center py-5"
          cols="12"
          md="6"
          align-self="center"
        >
          <v-skeleton-loader
            class="mx-md-2"
            max-height="300"
            type="image"
          />
        </v-col>
      </v-row>
    </v-container>
  </section>
</template>

<script>

import { hexToRgba, skillsToChartData } from '@/core/utils.js'
import ratingsStore from '@/base/skillTableStorage'
import config from '@/core/mixins/config'

export default {
  name: 'Skills',
  components: {
    Ratings: () => import('@/pages/landing/components/SkillRatings'),
    Score: () => import('@/pages/landing/components/FitnessScore'),
    SpiderPlot: () => import('@/core/components/SpiderPlot')
  },
  mixins: [config],
  data: function () {
    return {
      isActive: false,
      ratingsData: ratingsStore.data
    }
  },
  computed: {
    sectionBg: function () {
      return this.$vuetify.theme.dark ? this.$vuetify.theme.currentTheme.sectionBg.darken1
        : hexToRgba(this.$vuetify.theme.currentTheme.primary, 0.5)
    },
    skillLevels: function () {
      const haves = this.ratingsData.skills.map(obj => obj.have)
      const wants = this.ratingsData.skills.map(obj => obj.want)
      return { haves: haves, wants: wants }
    },
    chartData: function () {
      return skillsToChartData(this.ratingsData.skills, this.$vuetify.breakpoint.mobile)
    }
  },
  methods: {
  }
}
</script>

<style scoped>

</style>
