<template>
  <div>
    <v-card>
      <v-card-title
        class="my-2 py-0"
      >
        View, Match, and Add Selected Skills
        <v-spacer />
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
        />
        <v-divider
          class="mx-4"
          inset
          vertical
        />
        <v-dialog
          v-model="dialog"
          max-width="500px"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              id="addItem"
              color="primary"
              dark
              class="mb-2"
              v-bind="attrs"
              v-on="on"
            >
              Add Your Own Item
            </v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-col
                    v-for="(props, key) in ratingsData.defaultItemProps"
                    :key="key"
                    cols="12"
                    sm="6"
                    md="4"
                  >
                    <v-text-field
                      v-if="props.type === 'textfield'"
                      :id="'addItem'+key"
                      v-model="editedItem[key]"
                      :label="props.label"
                    />
                    <v-select
                      v-else-if="props.type === 'dropdown'"
                      :id="'addItem'+key"
                      v-model="editedItem[key]"
                      type="number"
                      :items="props.items"
                      :label="props.label"
                    >
                      <v-icon
                        slot="prepend-inner"
                        :color="props.color"
                      >
                        mdi-checkbox-blank-circle
                      </v-icon>
                    </v-select>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer />
              <v-btn
                color="primary"
                text
                @click="close"
              >
                Cancel
              </v-btn>
              <v-btn
                id="addItemSave"
                color="primary"
                text
                @click="save"
              >
                Save
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-card-title>
      <v-data-table
        ref="dataTable"
        :headers="ratingsData.headers"
        :items="ratingsData.skills"
        :search="search"
        item-key="name"
        group-by="category"
        class="elevation-1"
        show-group-by
        dense
        :items-per-page="$vuetify.breakpoint.mobile ? 8 : 12"
        loading-text="Loading table contents. We request your patience..."
        style="overflow-y: auto"
      >
        <template v-slot:item.name="{ item }">
          <v-avatar
            size="30"
            dense
            color="objectBg"
          >
            <v-icon
              v-if="item.icon.startsWith('mdi')"
              size="20"
              v-text="item.icon"
            />
            <div
              v-else-if="item.icon.startsWith('iconify')"
              style="text-align: center; text-align-all: center; padding-top: 2px"
            >
              <Icon
                :icon="item.icon"
                :style="{ 'color': $vuetify.theme.dark ? 'white' : '#424242' }"
              />
            </div>
          </v-avatar>
          {{ item.name }}
        </template>
        <template v-slot:item.have="{ item }">
          <v-rating
            :id="'trHave'+clean(item.name)"
            v-model="item.have"
            :length="ratingsData.maxRating"
            :empty-icon="emptyIcon"
            :half-icon="halfIcon"
            :full-icon="fullIcon"
            dense
            half-increments
            readonly
            background-color="secondary"
            color="secondary"
          />
        </template>
        <template v-slot:item.want="{ item }">
          <v-rating
            :id="'trWant'+clean(item.name)"
            v-model="item.want"
            :length="ratingsData.maxRating"
            :empty-icon="emptyIcon"
            :half-icon="halfIcon"
            :full-icon="fullIcon"
            dense
            half-increments
            clearable
            background-color="accent"
            color="accent"
          />
        </template>
        <template v-slot:item.actions="{ item }">
          <v-icon
            :id="'editItem'+clean(item.name)"
            small
            class="mr-2"
            @click="editItem(item)"
          >
            mdi-pencil
          </v-icon>
          <v-icon
            small
            @click="deleteItem(item)"
          >
            mdi-delete
          </v-icon>
        </template>
      </v-data-table>
    </v-card>
  </div>
</template>

<script>

import Icon from '@iconify/vue'
import ratingsStore from '@/base/skillTableStorage'
import { cleanString } from '@/core/utils'

export default {
  name: 'SkillRatings',
  components: {
    Icon
  },
  data: function () {
    return {
      search: '',
      dialog: false,
      ratingsData: ratingsStore.data,
      actionsHeader: { text: 'Edit', value: 'actions', align: 'right', groupable: false },
      editedItem: {},
      emptyIcon: 'mdi-circle-outline',
      halfIcon: 'mdi-circle-half-full',
      fullIcon: 'mdi-circle',
      editedIndex: -1
    }
  },
  computed: {
    formTitle () {
      return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
    }
  },
  watch: {
    dialog (val) {
      val || this.close()
    }
  },
  created () {
    this.initialize()
  },

  methods: {
    clean: cleanString,
    initialize () {
      // shallow copy
      this.editedItem = Object.assign({}, this.ratingsData.defaultItem)
    },
    editItem (item) {
      this.editedIndex = this.ratingsData.skills.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },

    deleteItem (item) {
      const index = this.ratingsData.skills.indexOf(item)
      this.ratingsData.skills.splice(index, 1)
    },
    close () {
      this.dialog = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.ratingsData.defaultItem)
        this.editedIndex = -1
      })
    },

    save () {
      this.editedItem.have = Number(this.editedItem.have)
      this.editedItem.want = Number(this.editedItem.want)
      if (this.editedIndex > -1) {
        Object.assign(this.ratingsData.skills[this.editedIndex], this.editedItem)
      } else {
        if (!(this.ratingsData.headers.map(obj => obj.value).includes(this.actionsHeader.value))) {
          this.ratingsData.headers.push(this.actionsHeader)
        }
        this.editedItem.abbr = this.editedItem.name
        this.ratingsData.skills.push(this.editedItem)
      }
      this.close()
    }
  }
}
</script>

<style scoped>

</style>
