<template>
  <section>
    <v-container>
      <v-row no-gutters>
        <v-col
          cols="12"
          md="6"
        >
          <v-card class="ma-2">
            <v-card-title>
              Copyright Notice
            </v-card-title>
            <v-card-text
              class="text-justify"
            >
              {{ statementTextEn }}
            </v-card-text>
          </v-card>
        </v-col>
        <v-col
          cols="12"
          md="6"
        >
          <v-card class="ma-2">
            <v-card-title>
              Urheberrechtshinweis
            </v-card-title>
            <v-card-text
              class="text-justify"
            >
              {{ statementTextDe }}
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
      <v-row no-gutters>
        <v-col cols="12">
          <v-card class="ma-2">
            <v-card-title>
              Thirdparty Content
              <v-spacer />
              <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                label="Search"
                single-line
                hide-details
              />
            </v-card-title>
            <v-data-table
              :headers="headers"
              :items="items"
              :search="search"
              item-key="name"
              sort-by="name"
              class="elevation-1"
              dense
              loading-text="Loading table contents. We request your patience..."
              style="overflow-y: auto"
            />
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </section>
</template>

<script>

import { parseLicenseJSON } from '@/core/utils'

export default {
  name: 'CopyrightStatement',
  licenseRep: parseLicenseJSON(require('@/assets/license_report.json'),
    'type', 'item', 'lic', 'auth'),
  data: () => {
    return {
      search: '',
      headers: [
        { text: 'Type', value: 'type', align: 'left' },
        { text: 'Item', value: 'item', align: 'left' },
        { text: 'License', value: 'lic', align: 'left' }
      ],
      items: [
        { type: 'image', item: 'headline title stripe background photo', lic: 'unsplash.com/license' },
        { type: 'image', item: 'headline background hero image', lic: 'unsplash.com/license' },
        { type: 'source code/d3 item', item: 'spider plot in skills sections', lic: 'MIT' }
      ],
      statementTextDe:
        'Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. \n' +
        'Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des ' +
        'Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. \n' +
        'Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet. \n\n' +
        'Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter ' +
        'beachtet. Insbesondere werden Inhalte Dritter als solche nachstehend gekennzeichnet. \n' +
        'Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden ' +
        'Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir diese umgehend beheben. \n\n' +
        'Bitte finden Sie in u. s. Tabelle Verweise auf die Urheberrechte Dritter.',
      statementTextEn:
        'On this website (site), content created by the operator of this site is subject to German copyright law. ' +
        'The copying, editing, distributing as well as exploitation outside of the scope of this copyright law ' +
        'require the written consent of the respective author/creator. ' +
        'Downloads and replicas of this site are only permitted for private, not commercial applications. ' +
        'Insofar content on this site was not created by the operator themselves, copyrights of the respective third' +
        'party(/ies) apply. Content of third parties is particularly identified below. ' +
        'In case you become aware of any copyright infringment nonetheless, we kindly ask you to convey an appropriate ' +
        'note to us (the operator). After taking notice of any infringement, we will immediately resolve the ' +
        'infringing circumstance. ' +
        'Please find a listing of third party content in below table.'
    }
  },
  created () {
    this.items = this.items.concat(this.$options.licenseRep)
  },
  methods: {
  }
}
</script>

<style scoped>

</style>
