.retro {
  --board-NV-base: 23, 166, 151;
  --board-DL-base: 242, 220, 179;
  --board-TL-base: 217, 135, 35;
  --board-DW-base: 64, 39, 24;
  --board-TW-base: 217, 70, 37;
}

.rainbow {
  --board-DW-base: 168, 230, 207;
  --board-TW-base: 220, 237, 193;
  --board-TL-base: 255, 211, 182;
  --board-DL-base: 255, 170, 165;
  --board-NV-base: 255, 139, 148;
}

.sunset {
  --board-DW-base: 237, 200, 187;
  --board-TW-base: 125, 157, 238;
  --board-TL-base: 249, 193, 64 ;
  --board-DL-base: 242, 149, 110;
  --board-NV-base: 225, 144, 141;
}

.spring {
  --board-DW-base: 115, 50, 62;
  --board-DL-base: 191, 182, 136;
  --board-TW-base: 242, 160, 7;
  --board-TL-base: 115, 64, 2;
  --board-NV-base: 140, 131, 123;
}

.garden {
  --board-TW-base: 108, 115, 57;
  --board-DW-base: 85, 89, 49;
  --board-TL-base: 61, 64, 41;
  --board-DL-base: 214, 217, 137;
  --board-NV-base: 243, 243, 171;
}

/* Default Color Theme */
:root, .pastels {
  --board-TW-base: 248, 177, 149;
  --board-DW-base: 246, 114, 128;
  --board-TL-base: 192, 108, 132;
  --board-DL-base: 108, 91, 123;
  --board-NV-base: 53, 92, 125;
}

/* Default color naming */
:root, .default {
  --board-DW: rgb(var(--board-DW-base));
  --board-TW: rgb(var(--board-TW-base));
  --board-TL: rgb(var(--board-TL-base));
  --board-DL: rgb(var(--board-DL-base));
  --board-NV: rgb(var(--board-NV-base));

  --player-1: var(--board-DL);
  --player-2: var(--board-TL);
  --player-3: var(--board-DW);
  --player-4: var(--board-TW);
}

.colorblind {
    --alpha: 0.5;

    --stop1: 7%;
    --stop2: 14%;
    --stop1diag: 5%;
    --stop2diag: 10%;

    --board-TW: repeating-linear-gradient(
        45deg,
        rgb(var(--board-TW-base)),
        rgb(var(--board-TW-base)) var(--stop1diag),
        rgba(var(--board-TW-base), var(--alpha)) var(--stop1diag),
        rgba(var(--board-TW-base), var(--alpha)) var(--stop2diag)
    );
    --board-DW: repeating-linear-gradient(
        315deg,
        rgb(var(--board-DW-base)),
        rgb(var(--board-DW-base)) var(--stop1diag),
        rgba(var(--board-DW-base), var(--alpha)) var(--stop1diag),
        rgba(var(--board-DW-base), var(--alpha)) var(--stop2diag)
    );
    --board-TL: repeating-linear-gradient(
        180deg,
        rgb(var(--board-TL-base)),
        rgb(var(--board-TL-base)) var(--stop1),
        rgba(var(--board-TL-base), var(--alpha)) var(--stop1),
        rgba(var(--board-TL-base), var(--alpha)) var(--stop2)
    );
    --board-DL: repeating-linear-gradient(
        90deg,
        rgb(var(--board-DL-base)),
        rgb(var(--board-DL-base)) var(--stop1),
        rgba(var(--board-DL-base), var(--alpha)) var(--stop1),
        rgba(var(--board-DL-base), var(--alpha)) var(--stop2)
    );
}
