<template>
  <div>
    <v-app-bar
      v-scroll="onScroll"
      :color="!isScrolling ? 'transparent' : rgbaFromHex($vuetify.theme.currentTheme.barBg, 0.7)"
      fixed
      flat
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-img
        v-if="showLogo"
        :src="require('@/assets/logo.svg')"
        transition="slide-y-transition"
        class="shrink"
        contain
        height="40"
        max-width="60"
        position="left center"
      />
      <v-spacer />
      <span>
        <v-btn
          class="ma-2"
          color="info"
          rounded
          small
          @click="switchTheme"
        >
          <v-icon
            dark
            small
            v-text="icons.theme"
          />
          <v-icon
            dark
            large
            v-text="toggleTheme"
          />
        </v-btn>
      </span>
      <social-media />
    </v-app-bar>

    <drawer
      v-model="drawer"
      @closeDrawer="drawer = !drawer"
    />
  </div>
</template>

<script>

import { hexToRgba } from '@/core/utils.js'

export default {
  name: 'AppBar',

  components: {
    Drawer: () => import('@/core/components/Drawer'),
    SocialMedia: () => import('@/core/components/SocialMedia')
  },

  data: () => ({
    showLogo: false,
    isScrolling: false,
    drawer: null,
    icons: {
      theme: 'mdi-brightness-6',
      toggleDarkOff: 'mdi-toggle-switch-off-outline',
      toggleDarkOn: 'mdi-toggle-switch'
    }
  }),
  computed: {
    toggleTheme: function () {
      return this.$vuetify.theme.dark ? this.icons.toggleDarkOn : this.icons.toggleDarkOff
    }
  },
  methods: {
    rgbaFromHex: hexToRgba,
    switchTheme () {
      this.$vuetify.theme.dark = !this.$vuetify.theme.dark
    },
    onScroll () {
      const offset = window.pageYOffset
      this.isScrolling = offset > 50
      this.showLogo = offset > 200
    }
  }
}
</script>
