<template>
  <v-navigation-drawer
    bottom
    color="transparent"
    fixed
    height="auto"
    overlay-color="objectBg darken-1"
    overlay-opacity=".7"
    temporary
    v-bind="$attrs"
    v-on="$listeners"
  >
    <v-list
      color="objectBg"
      shaped
      single-item
      nav
    >
      <v-list-item-avatar
        tile
        class="ml-1"
      >
        <v-img
          :src="require('@/assets/logo.svg')"
          shrink
          contain
        />
      </v-list-item-avatar>
      <v-divider />
      <v-list-item
        v-for="item in items"
        :key="item.name"
        color="primary"
        link
        @click.stop="goToAndClose(item.link)"
      >
        <v-list-item-icon>
          <v-icon v-text="item.icon" />
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title v-text="item.name" />
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
export default {
  name: 'NaviDrawer',
  data: () => {
    return {
      items: [
        { name: 'Headline', icon: 'mdi-home-circle', link: '/#headline' },
        { name: 'Projects', icon: 'mdi-file-table-box', link: '/#projects' },
        { name: 'Skills', icon: 'mdi-cog-box', link: '/#skills' },
        { name: 'Legal Note/License', icon: 'mdi-scale-balance', link: '/legal/' }
      ]
    }
  },
  methods: {
    goToAndClose: function (link) {
      const splitLink = link.split('#')
      if (window.location.pathname === splitLink[0]) {
        this.$vuetify.goTo('#' + splitLink[1])
        this.$emit('closeDrawer')
      } else {
        window.open(link, '_self')
      }
    }
  }
}
</script>
