<template>
  <v-footer
    height="88"
    class="justify-center"
  >
    &copy; {{ new Date().getFullYear() }}
    <social-media large />
  </v-footer>
</template>

<script>
export default {
  name: 'Footer',

  components: {
    SocialMedia: () => import('@/core/components/SocialMedia')
  }
}
</script>
