<template>
  <v-tooltip
    v-scroll="onScroll"
    bottom
    fixed
    z-index="1"
    transition="fade-transition"
    open-delay="600"
  >
    <template
      v-slot:activator="{ on, attrs }"
    >
      <v-fab-transition>
        <v-btn
          v-show="isScrolling"
          fixed
          bottom
          right
          small
          fab
          elevation="20"
          transition="fab-transition"
          color="info"
          style="z-index: 1;margin-bottom: 0px; transform-origin: center center;"
          v-bind="attrs"
          @click="scrollTop"
          v-on="on"
        >
          <v-icon>
            mdi-chevron-double-up
          </v-icon>
        </v-btn>
      </v-fab-transition>
    </template>
    <span>Scroll To Top</span>
  </v-tooltip>
</template>

<script>

export default {
  name: 'ScrollToTop',
  data: function () {
    return {
      isScrolling: false,
      numbTimer: 0
    }
  },
  methods: {
    onScroll () {
        if (this.numbTimer) return
        this.numbTimer = setTimeout(() => {
          this.isScrolling = window.pageYOffset > 500
          clearTimeout(this.numbTimer)
          this.numbTimer = 0
        }, 100)
    },
    scrollTop () {
      window.scrollTo({ top: 0, right: 0, behavior: 'smooth' })
    }
  }

}
</script>

<style scoped>

</style>
