<template>
  <div>
    <v-btn
      v-for="(item, i) in items.slice(0, large ? items.length : 2)"
      :key="i"
      :href="item.link"
      target="_blank"
      fab
      class="ma-2"
      color="info"
      :small="!large"
    >
      <v-icon
        dark
        v-text="item.icon"
      />
    </v-btn>
  </div>
</template>

<script>
export default {
  props: {
    large: {
      type: Boolean,
      default: false
    }
  },

  data: () => ({
    items: [
      {
        name: 'LinkedIn',
        icon: 'mdi-linkedin',
        link: 'https://www.linkedin.com/in/gregor-ramien/'
      },
      {
        name: 'GitLab',
        icon: 'mdi-gitlab',
        link: 'https://gitlab.com/GregorR'
      },
      {
        name: 'Xing',
        icon: 'mdi-xing',
        link: 'https://www.xing.com/profile/Gregor_Ramien'
      },
      {
        name: 'GitHub',
        icon: 'mdi-github',
        link: 'https://github.com/Gregor1337'
      }
    ]
  })
}
</script>
