<template>
  <v-card
    class="ml-md-2"
    flat
  >
    <div
      id="spiderPlot"
      ref="spiderPlot"
      class="spiderPlot overflow-x-auto px-2"
      :opts="spiderPlotOptions"
    />
  </v-card>
</template>

<script>
import * as d3 from 'd3'
import spiderPlot from '@/core/spiderPlot'

export default {
  name: 'SpiderPlot',
  props: {
    isActive: { type: Boolean, default: () => true },
    chartData: {
      type: Array,
      default: () => { return [[{ axis: 'one', value: 1 }, { axis: 'two', value: 1 }], [{ axis: 'one', value: 2 }]] }
    }
  },
  data: function () {
    return {
      containerWidth: 0,
      windowHeight: 0
    }
  },
  computed: {
    margin: function () {
      // non-linear margin since I'd like the plot to grow less when the container is larger
      const x = Math.max(20, Math.ceil(0.15 * Math.pow(this.containerWidth, 1.005)))
      return { top: 100, bottom: 100, left: x, right: x, all: 48 }
    },
    chartWidth: function () {
      return Math.max(300, this.containerWidth - this.margin.all) - this.margin.left - this.margin.right
    },
    chartHeight: function () {
      return Math.max(this.chartWidth, this.windowHeight - this.margin.top - this.margin.bottom - this.margin.all)
    },
    spiderPlotOptions: function () {
      const color = d3.scaleOrdinal().range([this.$vuetify.theme.currentTheme.secondary,
        this.$vuetify.theme.currentTheme.accent])
      const opts = {
        w: this.chartWidth,
        h: this.chartHeight,
        margin: this.margin,
        maxValue: 5,
        valueFormat: '0.0f',
        labelFs: '13px',
        levels: 5,
        color: color
      }
      if (this.isActive) { this.drawChart(this.chartData, opts) }
      return opts
    }
  },
  watch: {
    chartData: {
      deep: true,
      handler (newVal) { this.drawChart(newVal, this.spiderPlotOptions) }
    }
  },
  mounted () {
    this.$nextTick(() => {
      this.onResize()
      window.addEventListener('resize', this.onResize)
    })
  },
  beforeDestroy
  /* istanbul ignore next */
  () {
    window.removeEventListener('resize', this.onResize)
  },
  methods: {
    drawChart: function (data, options) {
      spiderPlot('#spiderPlot', data, options)
    },
    onResize: function () {
      if (this.isActive) { this.containerWidth = this.$refs.spiderPlot.clientWidth }
      this.windowHeight = window.innerHeight
    }
  }
}

</script>

<style scoped>
.spiderPlot {
  grid-area: web;
  font-weight: 400;
  text-align: center;
  cursor: default;
  fill: var(--v-text-base) !important;
}

.v-card {
  background-color: transparent !important;
}

</style>
